<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-warning></app-warning>
    </div>
    <div class="col-xs-12">
      <app-success></app-success>
    </div>
  </div>
</div>

